<h3>ログイン</h3>
<form id="login_form">
    <div class="cp_iptxt">
        <input type="text" class="ef">
        <label>ユーザ名</label>
        <span class="focus_line"></span>
    </div>
    <div class="cp_iptxt">
        <input type="password" class="ef">
        <label>パスワード</label>
        <span class="focus_line"></span>
    </div>
    <div style="text-align:center;">
        <input type="submit" value="ログイン" class="button">
    </div>
</form>