<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "style.css">
    <title>自己紹介</title>
</head>
<body>
    <div class = "header">
        <h1>MyPage</h1>
        <div class = "nav">
            <ul>
                <li><a href = "#first">SCHOOL</a></li>

                <li><a href = "#second">FOOD</a></li>

                <li><a href = "#third">HOBBY</a></li>
            </ul>
        </div>
    </div>

    <div class = "section">
      <div class = "school" id = "first">
        <h2>SCHOOL</h2>
          <p>出身校</p>
          <div class = "flex schools">
            <p>専門学校松江総合ビジネスカレッジ</p>
            <img src = "image/biji.png">
      </div>

      <div class = "food" id = "second">
        <h2>FOOD</h2>
        <p>好きな食べ物</p>
        <p>・麺類(ラーメン,うどん,そば)</p>
        <p>・おつまみ系(主にビーフジャーキー)</p>
        <div class = "flex foods">
            <img src = "image/beef.png">
            <img src = "image/ramen.png">
        </div>
      </div>

      <div class = "hobby" id = "third">
        <h2>HOBBY</h2>
          <p>趣味</p>
            <p>・バスケットボール(遊びでやるくらい)</p>
            <p>・ゲーム(Switch: ポケモンソード.etc スマホ: モンスト.etc)</p>
            <p>・声優(最近)</p>
      </div>
    </div>
</body>
</html>